/* Body */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 3rem;
}
.main {
  margin-top: 8rem;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h4 {
  font-weight: 400;
  border-bottom: 2px dotted;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

/* Row */
.row {
  max-width: 75rem;
}

/* Border */
.border-left {
    border-left: 1px solid;
}

/* Header */
#header {
  padding-top: 3rem;
}
#header h2 {
  margin-top: -1.15rem;
}
.website {
  font-weight: 400;
}

/* Global formatiing */
.light, p {
  color: #BCBEC0;
}
.italic {
  font-style: italic;
}
.title {
  color: #231F20;
}
p {
  font-weight: 300;
}

/* Specialities */
.special {
  height: 30rem;
  margin-top: 5rem;
}
.special li {
  border: 1px solid;
  border-radius: 100%;
  color: #222222;
  width: 8rem;
  height: 8rem;
}
.special i {
  text-align: center;
  position: relative;
  top: 10%;
  font-size: 4rem;
}
.special .pointer {
  height: 12rem;
  background-color: #000;
  width: 1px;
  position: relative;
  left: 50%;
}
.special .pointer.second {
  height: 15rem;
}

.special .ellipse {
  width: 0.6rem;
  height: 0.6rem;
  background-color: #000;
  border-radius: 100%;
  position: relative;
  right: 0.2rem;
}
.special .desc {
  text-align: center;
}