<form name="simple_form" class="comment-form" id="simple_form" action="https://getsimpleform.com/messages?form_api_token={{ token | e('html_attr') }}" enctype="multipart/form-data" method="post">

    {# Redirect URL after submit #}
    <input type="hidden" name="redirect_to" value="{{ redirect_to | e('html_attr') }}" />

    {# START: input form here #}
    <p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" placeholder="" required />
    </p>

     <p>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" placeholder="name@example.com" required />
</p>

    <p>
    <label for="message">Message:</label>
    <textarea name="message" id="message" placeholder="Your message here" required></textarea>
    </p>
    {# END: input form here #}

    <button class="button">Submit</button>
</form>
