<h4>{{ module.header.title }}</h4>

{{ module.content }}


<svg width="100%" height="100%" viewBox="-35 -35 622.5 622.5"><g data-id="g0"><path d="M285,285 L285,42.75 A242.25,242.25 0 1 1 284.97577500004036,42.75000121124998 Z" fill="rgb(242, 61, 61)" stroke="undefined" strokeWidth="undefined" data-cx="285" data-cy="285" data-id="s0" transform="matrix(1,0,0,1,0,0)"></path><defs></defs></svg>