<h4>{{ module.header.title }}</h4>

{{ module.content }}

<div class="row">
  <div class="large-4 columns">
    <ul data-pie-id="lang1" class="pie_desc">
      <li data-value="36" fill="#000">
        <div class="lang_info">
          <span class="lang_name">English</span>
          <span class="lang_level">Advanced Level</span>
        </div>
      </li>
      <li data-value="74"></li>
    </ul>
    <div id="lang1" class="pie"></div>
  </div>
  <div class="large-4 columns">
    <ul data-pie-id="lang2" class="pie_desc">
      <li data-value="36" fill="#000">
        <div class="lang_info">
          <span class="lang_name">Spanish</span>
          <span class="lang_level">Mother Language</span>
        </div>
      </li>
      <li data-value="74"></li>
    </ul>
    <div id="lang2" class="pie"></div>
  </div>
  <div class="large-4 columns">
    <ul data-pie-id="lang3" class="pie_desc">
      <li data-value="36" fill="#000">
        <div class="lang_info">
          <span class="lang_name">French</span>
          <span class="lang_level">Basic Level</span>
        </div>
      </li>
      <li data-value="74"></li>
    </ul>
    <div id="lang3" class="pie"></div>
  </div>
</div>