<h4>{{ module.header.title }}</h4>

{{ module.content }}

<ul class="inline-list special">
  <li>
    <i class="fi-home"></i>
    <div class="pointer hide-for-small-only"></div>
    <div class="desc">Logo Design</div>
  </li>
  <li>
    <i class="fi-bookmark"></i>
    <div class="pointer second hide-for-small-only"></div>
    <div class="desc">Logo Design</div>
  </li>
  <li>
    <i class="fi-info"></i>
    <div class="pointer hide-for-small-only"></div>
    <div class="desc">Logo Design</div>
  </li>
</ul>