<h4>{{ module.header.title }}</h4>

{{ module.content }}

<ul class="inline-list special">
  <li>
    <i class="fi-home"></i>
    <div class="pointer"><div class="ellipse"></div></div>
    <div class="desc">Logo Design</div>
  </li>
  <li>
    <i class="fi-bookmark"></i>
    <div class="pointer second"><div class="ellipse"></div></div>
    <div class="desc">Logo Design</div>
  </li>
  <li>
    <i class="fi-info"></i>
    <div class="pointer"><div class="ellipse"></div></div>
    <div class="desc">Logo Design</div>
  </li>
</ul>