<h4>{{ module.header.title }}</h4>

{{ module.content }}

<ul class="inline-list special">
  <li><i class="fi-home"></i></li>
  <li><i class="fi-bookmark"></i></li>
  <li><i class="fi-info"></i></li>
</ul>