<h4>{{ module.header.title }}</h4>

{{ module.content }}

{% if module.header.education %}

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="75.59px" height="99.123px" viewBox="0 0 75.59 99.123" enable-background="new 0 0 75.59 99.123" xml:space="preserve">
<g>
  <g>
    <path fill="#15202E" d="M7.704,6.309l2.387-3.925l-1.6-2.315L5.484,5.35C6.803,5.46,7.704,6.309,7.704,6.309z M7.003,2.334
      L8.342,0H1.75l1.357,2.334H7.003z M5.045,5.448c-2.151,0-3.896,1.743-3.896,3.892c0,2.15,1.745,3.893,3.896,3.893
      S8.941,11.49,8.941,9.34C8.941,7.19,7.197,5.448,5.045,5.448z M5.045,12.663c-1.82,0-3.296-1.475-3.296-3.293
      c0-1.819,1.476-3.293,3.296-3.293c1.821,0,3.296,1.475,3.296,3.293C8.341,11.188,6.866,12.663,5.045,12.663z M4.597,5.32
      L1.601,0.068L0,2.383l2.317,3.995C2.317,6.378,3.159,5.512,4.597,5.32z"/>

  </g>
</g>
</svg>
